<article class="mx-3 my-3">
    <h2 class="title">Edit post</h2>
    <hr>
    <form class="edit-post-form">
        <div>
            <label for="post-title ">Post title:</label>
            <input class="input" name="post-title" type="text" value="{{post.title}}" />
        </div>
        <div>
            <label for="post-content">Post content:</label>
            <textarea class="textarea" name="post-content" type="text"
                value="{{post.post_content}}">{{post.post_content}}</textarea>
        </div>
        <div class="is-pulled-right">
            created by you on {{format_date post.created_at}}
            |
            <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
        </div>
        <button type="submit" class="button">Save post</button>
        <button type="button" class="button delete-post-btn">Delete post</button>
    </form>
</article>

{{> comments post.comments}}

<script src="/javascript/editPost.js"></script>
<script src="/javascript/deletePost.js"></script>