<div class="bg-image">
  <div class="container">

  <div class="row ">
    <div class="col border-10 group-card">
      <h2 class="text-center text-white">Group A</h2>
      {{#each groupA as |team|}}
      <div="card" style="width: 18rem;">

        <ul class="list-group list-group-flush">
          <a href="/country/{{team.id}}">
            <li class="list-group-item">  <span class="fi fi-{{team.flag}}"></span>
              {{team.name}} 
            </li>
          </a>
        </ul>
        {{/each}}
    </div>



    <div class="col group-card">
      <h2 class="text-center text-white">Group B</h2>
      {{#each groupB as |team|}}
      <div="card" style="width: 18rem;">

        <ul class="list-group list-group-flush">
          <a href="/country/{{team.id}}">
            <li class="list-group-item"> <span class="fi fi-{{team.flag}}"></span>
              {{team.name}}
            </li>
          </a>
        </ul>
        {{/each}}
    </div>


    <div class="col group-card">
      <h2 class="text-center text-white">Group C</h2>
      {{#each groupC as |team|}}
      <div="card" style="width: 18rem;">

        <ul class="list-group list-group-flush">
          <a href="/country/{{team.id}}">
            <li class="list-group-item"> <span class="fi fi-{{team.flag}}"></span>
              {{team.name}}
            </li>
          </a>
        </ul>
        {{/each}}
    </div>


    <div class="col group-card">
      <h2 class="text-center text-white">Group D</h2>
      {{#each groupD as |team|}}
      <div="card" style="width: 18rem;">

        <ul class="list-group list-group-flush">
          <a href="/country/{{team.id}}">
            <li class="list-group-item"> <span class="fi fi-{{team.flag}}"></span>
              {{team.name}}
            </li>
          </a>
        </ul>
        {{/each}}
    </div>
  </div>


  <div class="row">
    <div class="col group-card">
      <h2 class="text-center text-white">Group E</h2>
      {{#each groupE as |team|}}
      <div="card" style="width: 18rem;">

        <ul class="list-group list-group-flush">
          <a href="/country/{{team.id}}">
            <li class="list-group-item"> <span class="fi fi-{{team.flag}}"></span>
              {{team.name}}
            </li>
          </a>
        </ul>
        {{/each}}
    </div>






    <div class="col group-card">
      <h2 class="text-center text-white">Group F</h2>
      {{#each groupF as |team|}}
      <div="card">

        <ul class="list-group list-group-flush">
          <a href="/country/{{team.id}}">
            <li class="list-group-item"> <span class="fi fi-{{team.flag}}"></span>
              {{team.name}}
            </li>
          </a>
        </ul>
        {{/each}}
    </div>


    <div class="col group-card">
      <h2 class="text-center text-white">Group G</h2>
      {{#each groupG as |team|}}
      <div="card" style="width: 18rem;">

        <ul class="list-group list-group-flush">
          <a href="/country/{{team.id}}">
            <li class="list-group-item"> <span class="fi fi-{{team.flag}}"></span>
              {{team.name}}
            </li>
          </a>
        </ul>
        {{/each}}
    </div>


    <div class="col group-card">
      <h2 class="text-center text-white">Group H</h2>
      {{#each groupH as |team|}}
      <div="card" style="width: 18rem;">

        <ul class="list-group list-group-flush">
          <a href="/country/{{team.id}}">
            <li class="list-group-item"> <span class="fi fi-{{team.flag}}"></span>
              {{team.name}}
            </li>
          </a>
        </ul>
        {{/each}}
    </div>
  </div>
</div>
    <div class="container-fluid latest-news-ribbon">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex justify-content-between align-items-center breaking-news">
                    <div class="d-flex flex-row flex-grow-1 flex-fill justify-content-center py-2 text-white px-1 news">
                        <span class="d-flex align-items-center">&nbsp;Comments</span>
                    </div>
                    <marquee class="news-scroll" behavior="scroll" direction="left" onmouseover="this.stop();"
                        onmouseout="this.start();"> <a href="#">{{#each comments as |comment|}}
  
    <span> "{{comment.comment_text}}" ---- </span>
  
{{!-- <p>{{comment.comment_text}}</p> --}}
{{/each}}</a> </a>
                    </marquee>
                </div>
            </div>
        </div>
    </div>



{{!-- 
 <h3>Comments:</h3>
  {{#each comments as |comment|}}
  <ul>
    <li>{{comment.comment_text}} </li>
  </ul>
<p>{{comment.comment_text}}</p> --}}
{{!-- {{/each}} --}}


{{>add-comments}}
</div>
