
<div class="single-bg">
        <div class="container">
        <div class="row">
            <div class="col">
                <h3 class="card-header text-white nametext">{{team.name}}</h3>
                <div class="single-country">
                    <div class="card-body">
                        <img src="/images/{{team.image}}" alt="{{team.name}}" class="flag-bio">
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card-body country-card">
                    <h5 class="card-title text-white nametext2">{{team.name}}</h5>
                    <br>
                    <ul>
                        <li class="text-white">Nations Capital: {{team.capital}}</li>
                        <li class="text-white">World Ranking: {{team.fifa_ranking}}</li>
                        <li class="text-white">Group: {{team.group_letter}}</li>
                        <li class="text-white">World Cup Triumphs: {{team.times_won}}</li>
                        <li class="text-white">Star Player: {{team.star_player}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


        {{#each countryComments as |comment|}}
        <ul>
            <li class="text-white"> '{{comment.comment_text}}'</li>
        </ul>
        {{/each}}

       {{>singleteam-add-comments}}
</div>